.copyright {
    background-color: #41B3DD;
    }
    .fixed {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    }
    .content-grey {
    background-color: #f8f9fc;
    }
    hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    }
    .img-profile {
    height: 2.5rem;
    width: 2.5rem;
    }
    .profile-font {
    color: #858796 !important;
    font-size: 80%;
    font-weight: 400;
    }
    .card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    }
.btnb {
    background: #061F2D;
}
