.copyright {
    background-color: #061F2D;
    }
    .fixed {
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
    }
    .content-grey {
    background-color: #f8f9fc;
    }
    hr {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    }
    .img-profile {
    height: 2rem;
    width: 2rem;
    }
    .profile-font {
    color: #858796 !important;
    font-size: 80%;
    font-weight: 400;
    }
    .card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    }
.sedb{
        background-color: #061F2D;
}
.btnb{
    background-color: #661C03;
}
.boton{
    background-color: #18323d;
    /* color: white; */
}
.btn-v{
    background-color: #119275;
    /* color: white; */
}
.btn-list{
    background-color: #061F2D;
}
.btn-s{
    background-color: #119275;
}



