@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.logo-image{
    font-size: small;
    overflow: hidden;
    margin-top: 6px;
   
}
.com{
    position: relative;
    left: 200px;
}
.bin{
    position: relative;
    right: 150px;
}
.nav-bg{
    background-color: #D7FCFE;
}

.recherche{
    height: 300px;
    width:1200px;
    background-color: #41B3DD;
    border-radius: 25px;
}
.tet{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    height: 92px;
    width: 1000px;
}
.search{
    width: 650px;
    position: relative;
    left: 250px;
    top: 30px;
}
#ic{
    position: relative;
    right: 35px;
    top: 7px;
}
.nav{
    border-radius: 10px;
    width: 800px;
    background-color:white;
    position: relative;
    left: 70px;

}
.bit{
    position: relative;
    left: 100px;
   
}
.annonce{
    position: relative;
    left: 80px;
    /* background-color: aquamarine; */
    width: 1350px;
}
.find{
    height: 160px;
    width:1200px;
    border-radius: 10px;
    position: relative;
    left: 150px;
}
.img{
    border-radius: 10px;
}



.bg-size-half{
    background-size: 50%;
  }
  .bg-position-top{
    background-position: top;
  }

  .login{

    height: 500px;
    /* position: relative;
    left: 700px; */
    width: 700px;
    border: none;
}
.apre{
   background-color: #41B3DD;
   height: 70px;




}
h3{
    position: relative;
    top: 18px;
}

/* .img-login{
    height: max-content;
    width: auto;
} */
.select{
    width: 200px;
    display: none;
}
.agaWeb{
    display: none;
}




/* Start global styles */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

    :root {
        --main-color: rgb(255, 0, 0);
        --alt-color: #222;
        --alt-lite-color: #FFEFAD;
    }

    .headline-tc {
        margin: 0;
        background-color: var(--alt-lite-color);
        color: var(--primary-color);
        font-size: 1.5em;
        padding: 0.4em 1em;
        box-shadow: 0 1px 2px rgb(0 0 0 / 22%);
    }

    @media screen and (max-width: 767px) {
        .headline-tc {
            font-size: 1.1em;
        }
    }

    .background-gray {
        background-color: #eee;
    }

/* End global styles */

/* Start authentication home page */

    

    #authentication-homepage .modal-dialog .modal-content .modal-header {
        background-color: var(--main-color);
    }

    #authentication-homepage .modal-dialog .modal-content .modal-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #authentication-homepage .modal-dialog .modal-content .modal-title h5 {
        font-size: 1em;
        font-weight: bold;
    }

    #authentication-homepage .modal-dialog .modal-content .modal-title p {
        margin-bottom: 0;
    }

   

    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page form#form-authentication-home-page > div:last-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page form#form-authentication-home-page > div:last-of-type a {
        font-size: .9em;
        color: var(--alt-color);
        font-weight: bold;
    }


    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page form#form-authentication-home-page > div i {
        position: absolute;
        top: 52%;
        transform: translateY(28%);
        left: 8px;
    }

    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page form#form-authentication-home-page > div label { 
        font-size: .9em;
    }

    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page form#form-authentication-home-page > div input { 
        padding-left: 28px;
    }

    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page form#form-authentication-home-page > div input:focus { 
        box-shadow: none;
        outline: none;
        border: 1px solid var(--alt-color);
    }

    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page form#form-authentication-home-page > div input:focus label { 
        font-weight: bold;
    }

    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page .pas-compte { 
        background-color: #eee;
        text-align: center;
        border-radius: 13px;
        margin-top: 16px;
        box-shadow: 0 0 1px rgb(0 0 0 / 50%);
    }

    #authentication-homepage .modal-dialog .modal-content .modal-body .authentication-home-page .pas-compte a { 
        color: var(--alt-color);
        font-size: .9em;
        font-weight: bold;
    }
/* End authentication home page */

/* Start main */

    /* Start main header */
    div.main-header {
        background-color: var(--main-color);
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        padding: 45px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    } 

 

    div.main-header .headline-main-header {
        text-align: center;
    }

    div.main-header .headline-main-header h1 {
        margin: 0;
        padding-bottom: 40px;
        font-weight: 400;
    }

    @media screen and (max-width: 767px) {
        div.main-header .headline-main-header h1 {
            font-size: 1.3em;
            line-height: 2;
            text-align: center;
        }
    }

    div.main-header .main-header-box-search {
        background-color: #ffffff69;
        padding: 30px 50px;
    }

    @media screen and (max-width: 767px) {
        div.main-header .main-header-box-search {
            padding: 30px 15px;
        }
    }

   

    div.main-header .main-header-box-search .main-header-box-search-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    @media screen and (max-width: 767px) {
        div.main-header .main-header-box-search .main-header-box-search-links {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        }
    }

    div.main-header .main-header-box-search .main-header-box-search-links li {
        margin: 0 15px 0 0;
        padding-bottom: 35px;
    }

    @media screen and (max-width: 767px) {
        div.main-header .main-header-box-search .main-header-box-search-links li { 
            padding-bottom: 20px;
        }
    }

    div.main-header .main-header-box-search .main-header-box-search-links li a {
        text-decoration: none;
        color: var(--alt-color);
        background-color: transparent;
        border: 2px solid var(--alt-color);
        padding: 5px 10px;
        font-weight: bold;
        display: inline-block;
        border-radius: 5px;
        transition: all .4s ease-in-out;
    }

    @media screen and (max-width: 767px) {
        div.main-header .main-header-box-search .main-header-box-search-links li a {
            font-size: .8em;
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }

    div.main-header .main-header-box-search .main-header-box-search-links li a.active ,
    div.main-header .main-header-box-search .main-header-box-search-links li a:hover {
        background-color: var(--alt-color);
        color: white;
        padding: 10px;
    }

    

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row {
        align-items: center;
    }

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div { 
        position: relative;
    }

    @media screen and (max-width: 992px) {
        div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div { 
            margin-top: 15px;
        }
    } 

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > i { 
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        font-size: 25px;
        color: var(--alt-color);
    }

    @media screen and (max-width: 767px) {
        div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > i { 
            top: 50%;
            font-size: 22px;
        }
    } 

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > input { 
        padding-left: 45px;
        font-size: 18px;
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 20px;
        transition: all .4s ease-in-out;
        
    }

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > input::placeholder { 
        font-size: .9em;
    }

    @media screen and (max-width: 992px) {
        div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > input {  
            font-size: .9em;
        }
    }

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > input:focus { 
        outline: none;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    } 

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > .autocomplete {
        position: absolute;
        list-style: none;
        padding: 0;
        width: calc(100% - 24px);
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        border-radius: 8px;
        display: block;
        overflow: hidden;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-20px);
        transition: all .3s ease-in-out;
    }

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > .autocomplete.fadeInUp {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > .autocomplete li a { 
        color: var(--alt-color);
        text-decoration: none;
        font-size: .8em;
        background-color: white;
        padding: 5px 0 5px 13px;
        transition: all .3s ease-in-out;
        display: block;
        border-bottom: 1px solid #eee;
        font-size: .7em;
    }

    @media screen and (max-width: 767px) {
        div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > .autocomplete li a { 
            font-size: .6em;
        }
    }
    

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > .autocomplete li a.group { 
        padding: 2px 0 2px 8px;
        background-color:  #eee;
        font-weight: 500;
        cursor: initial;
    }

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > .autocomplete li a:hover { 
        padding-left: 20px;
        font-weight: bold;
        background-color: var(--main-color);
    }

    div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > button { 
        font-size: 20px;
        border-radius: 16px;
        width: 100%;
    } 

    @media screen and (max-width: 992px) {
        div.main-header .main-header-box-search .main-header-box-search-moteur > .row > div > button {  
            font-size: .9em;
            margin: auto;
            display: block;
            width: 150px;
        }
    }
    /* End main header */

    /* Start aside */
    div.aside {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.aside ul {
        list-style: none;
        padding: 0;
        margin: 0;
        box-shadow: 0 0 40px rgb(0 0 0 / 70%);
        opacity: 0;
        visibility: hidden;
        transition: all 2s ease-in-out;
    }

    div.aside ul.opened {
        opacity: 1;
        visibility: visible;
        animation: jackInTheBox; /* referring directly to the animation's @keyframe declaration */
        animation-duration: .8s; /* don't forget to set a duration! */
    }

    div.aside ul.closed {
        animation: bounceOut; /* referring directly to the animation's @keyframe declaration */
        animation-duration: .8s; /* don't forget to set a duration! */
        opacity: 0;
        visibility: hidden;
    }

   
    
    div.aside ul li a {
        color: #F2F2F2;
        text-align: center;
        background-color: var(--alt-color);
        display: block;
        font-size: .7em;
        padding: 12px;
        width: 102px;
        transition: all .2s ease-in-out;
        border: 2px solid var(--alt-color);
    }

    div.aside ul li a:hover {
        color: #f2f2f2;
        background-color: var(--main-color);
        border: 2px solid var(--alt-color);
        color: var(--alt-color);
    }

    div.aside .close {
        position: relative;
        width: 40px;
        background-color: var(--alt-color);
        color: white;
        text-align: center;
        height: 40px;
        font-size: 1.4em;
        margin-top: 15px;
        border-radius: 50%;
        box-shadow: 0 0 40px rgb(0 0 0 / 70%);
        cursor: pointer;
    }

    div.aside .close .icon-bar {
        width: 22px;
        height: 2px;
        background-color: var(--main-color);
        margin: 6px 0;
        transition: 0.4s;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 6px;
        position: relative;
        top: 5px;
    }
    
    div.aside .close.closed .icon-bar:first-of-type {
        transform: rotate(-45deg) translate(-5px, 5px);
    }

    div.aside .close.closed .icon-bar:nth-of-type(2) {
        opacity: 0;
    }

    div.aside .close.closed .icon-bar:last-of-type {
        transform: rotate(45deg) translate(-6px, -7px);
    }
      
    /* End aside */

    /* Start main pronews */

    
    div.main-pronews {
        margin-top: 40px;
        box-shadow: 0 1px 5px rgb(0 0 0 / 22%);
        padding: 0;
        position: relative;
    }

   
    div.main-pronews div.slider-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 60px;
        margin-right: 40px;
        margin-top: 9px;
    }

    @media screen and (max-width: 992px) {
        div.main-pronews div.slider-content {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }
    }

    div.main-pronews div.slider-content div.img-wrapper {
        padding: 10px;
        width: 600px;
    }

    @media screen and (max-width: 992px) {
        div.main-pronews div.slider-content div.img-wrapper {
            width: 350px;
        }
    }

    div.main-pronews div.slider-content div.img-wrapper img {
        max-width: 100%;
        /*height: auto;*/
        height: 195px;
    }

    div.main-pronews div.slider-content div.slider-content-description {
        padding: 10px;
        width: 100%;
    }

    

    div.main-pronews div.slider-content div.slider-content-description h4 {
        font-size: .95em;
        color: var(--alt-color);
        margin-bottom: 13px;
    }

    @media screen and (max-width: 767px) {
        div.main-pronews div.slider-content div.slider-content-description h4 {
            text-align: center;
            font-size: .9em;
        }
    }

    div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-date {
        font-size: .75em;
        color: #777;
        padding: 11px;
        margin-bottom: 7px;
        position: relative;
        width: 80%;
    }

    div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-date::before {
        content: "";
        position: absolute;
        left: 0px;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: rgb(0 0 0 / 32%);
    }

   

    div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-info div.links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .9em;
    }

    @media screen and (max-width: 992px) {
        div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-info div.links {
            flex-direction: column;
        }
    }

    div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-info p {
        font-size: .85em;
        color: #554f4f;
        margin-top: 12px;
        text-align: justify;
    }

    @media screen and (max-width: 992px) {
        div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-info p {
            font-size: .8em;
        }
    }

    div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-info a.see-more {
        color: black;
        font-size: 1.1em;
        font-style: italic;
        font-weight: bold;
        flex: 1;
    }

    div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-info a.see-more-article {
        background-color: #eee;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        padding: 5px;
    }

    div.main-pronews div.slider-content div.slider-content-description div.slider-content-description-info a.see-more-article i {
        margin-right: 10px;
    }

    .splide__arrow {
        background-color: var(--main-color);
        position: absolute;
    }

    .splide__arrow--prev {
        left: 0;
    }

    .splide__arrow--next {
        right: 0;
    }

    /* End main pronews */

    /* Start publicitÃ© */

    .pub-tlc {
        margin-top: 40px;
    }
    .pub-tlc h4 {
        background-color: var(--main-color);
        color: var(--alt-color);
        margin: 0;
        font-size: 1.1em;
        padding: 5px;
    }
    /* End publicitÃ© */

    /* Start sÃ©lection de professionnels */
    div.selection-professionel {
        margin-top: 40px;
    }

    div.selection-professionel > h3 { 
        text-align: center;
    }

    div.selection-professionel div.selection-professionel-body {
        background-color: white;
        box-shadow: 0 1px 5px rgb(0 0 0 / 22%);
        padding: 20px;
    }

    div.selection-professionel div.selection-professionel-body p {
        text-align: center;
        color: var(--alt-color);
        margin-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
        div.selection-professionel div.selection-professionel-body p {
            font-size: .8em;
        }
    }

    @media screen and (max-width: 767px) {
        div.selection-professionel div.selection-professionel-body div.row {
            display: grid;
            grid-template-columns: repeat(auto-fill , minmax(50% , 1fr));
        }
    }

    div.selection-professionel div.selection-professionel-body .item {
        text-align: center;
        cursor: pointer;
        margin-bottom: 15px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
    }

    @media screen and (max-width: 767px) {
        div.selection-professionel div.selection-professionel-body .item {
            width: 100%;
        }
    }

    div.selection-professionel div.selection-professionel-body .item img { 
        width: 100%;
        height: auto;
    }

    div.selection-professionel div.selection-professionel-body .item .overlay { 
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 100%;
        width: 100%;
        height: 100%;
        background-color: rgba(255,221,0 , .9);
        color: #777;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all .5s ease-in-out;
    }

    div.selection-professionel div.selection-professionel-body .item:hover .overlay { 
        top: 0;
    }

    div.selection-professionel div.selection-professionel-body .item .overlay h5 {
        font-size: 1em;
    }

    @media screen and (max-width: 767px) {
        div.selection-professionel div.selection-professionel-body .item .overlay h5 {
            font-size: .9em;
        }
    }

    div.selection-professionel div.selection-professionel-body .item .overlay p {
        font-size: .8em;
        text-decoration: center;
    }

    @media screen and (max-width: 767px) {
        div.selection-professionel div.selection-professionel-body .item .overlay p {
            font-size: .7em;
        }
    }


    div.selection-professionel div.selection-professionel-body .item .overlay a {
        color: var(--alt-color);
        text-decoration: none;
        font-weight: bold;
    }

    @media screen and (max-width: 767px) {
        div.selection-professionel div.selection-professionel-body .item .overlay a {
            font-size: .8em;
        }
    }
    /* End sÃ©lection de professinnels */

    /* Start agenda evenementiel */
    div.main-agenda-evenementiel {
        margin-top: 40px;
        position: relative;
        box-shadow: 0 1px 5px rgb(0 0 0 / 22%);
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body {
        padding: 15px 35px;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .item {
        box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        padding: 10px;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .item h5 { 
        font-size: .9em;
        text-align: center;
        margin-top: 9px;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .evenement-date {
        background-color: var(--main-color);
        font-size: .7em;
        width: fit-content;
        padding: 5px 9px;
        margin: auto;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body p {
        background-color: #eee;
        margin-top: 10px;
        font-size: .7em;
        text-align: justify;
        padding: 7px;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .splide__slide {
        padding: 4px;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .item img { 
        max-width: 100%;
        width: 150px;
        margin: auto;
        display: block;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .slider-btns {
        padding: 10px 0 0 0;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    @media screen and (max-width: 991px) {
        div.main-agenda-evenementiel div.main-agenda-evenementiel-body .slider-btns {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    } 

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .slider-btns .add-event { 
        border: 1px solid var(--main-color);
        padding: 5px 15px;
        font-size: .9em;
        color: black;
        display: inline-block;
        margin-bottom: 5px;
        text-align: center;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .slider-btns .list-event { 
        background-color: #eee;
        padding: 5px 15px;
        font-size: .9em;
        display: inline-block;
        color: black;
        text-align: center;
    }

    div.main-agenda-evenementiel div.main-agenda-evenementiel-body .slider-btns .list-event i { 
        margin-right: 5px;
        font-weight: bold;
    }

    @media screen and (max-width: 767px) {
        div.main-agenda-evenementiel div.main-agenda-evenementiel-body .slider-btns a {
            width: 70%;
            font-size: .8em !important;
        }
    }

    div.pub-busness {
        margin-top: 40px;
    }

    div.pub-busness h4 {
        background-color: var(--main-color);
        color: var(--alt-color);
        margin: 0;
        font-size: 1.1em;
        padding: 5px;
    }

    div.pub-busness img {
        width: 100%;
        height: auto;
    }
    /* End agenda evenementiel */

    /* Start developer activitÃ© */
    .developer-activite {
        background-image: url('/trouver/media/images/bg-tc-info.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        margin-top: 40px;
        padding: 20px 0 20px 0;
    }

    .developer-activite::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 50%);
    }
    
    .developer-activite .title {
        position: relative;
        padding: 25px 0;
    }

    .developer-activite .title h3 {
        font-size: 1.7em;
        text-align: center;
        color: white;
    }

    .developer-activite .title h3:first-of-type { 
        margin-bottom: 20px;
    }

    @media screen and (max-width: 767px) {
        .developer-activite .title h3 {
            font-size: 1em;
        }
    }

    .developer-activite .item {
        position: relative;
        background-color: white;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        padding: 20px;
        transition: all .3s ease-in-out;
        height: 100%;
    }

    @media screen and (max-width: 767px) {
        .developer-activite .item { 
            width: 80%;
            margin: auto auto 15px auto;
        }
    }

    .developer-activite .item:hover { 
        transform: translateY(-20px);
        background-color: #eee;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    }

    .developer-activite .item .logo { 
        width: 45px;
        background-color: black;
        padding: 10px;
        border-radius: 50%;
        margin: 0 auto 15px auto;
    }

    .developer-activite .item .logo img { 
        max-width: 100%;
        height: auto;
    }

    

    .developer-activite .item .header h5 { 
        text-align: center;
        font-size: 1em;
        padding: 8px 0;
        text-decoration: underline;
    }

   

    .developer-activite .item .body p { 
        text-align: justify;
        padding: 10px 0;
        font-size: 0.9em;
        line-height: 2;
    }

    @media screen and (max-width: 767px) {
        .developer-activite .item .body p { 
            font-size: .8em;
        }
    }

    .developer-activite .item .footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .developer-activite .item .footer a { 
        padding: 10px 15px;
        background-color: var(--main-color);
        color: black;
        transition: all .2s ease-in-out;
        font-size: .9em;
        text-align: center;
    }

    .developer-activite .item .footer a:hover { 
        font-weight: bold;
    }

    @media screen and (max-width: 767px) {
        .developer-activite .item .footer a { 
            font-size: .8em;
            padding: 5px 10px;
        }
    }

    .developer-activite > .container > .row:last-of-type > div a {
        position: relative;
        color: var(--alt-color);
        background-color: var(--main-color);
        padding: 8px 15px;
        display: block;
        width: fit-content;
        font-weight: bold;
        margin: auto;
    }

    /* End developer activitÃ© */

    /* Start pharmacie de garde */
    .pharmacie-guard {
        margin-top: 40px;
        width: 80%;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        padding: 15px 30px;
        margin-left: auto;
    }

    @media screen and (max-width: 1299px) {
        .pharmacie-guard {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .pharmacie-guard .header {
        display: flex;
        align-items: center;
    }

    .pharmacie-guard .header img {
        width: 40px;
        height: 40px;
    }

    @media screen and (max-width: 767px) {
        .pharmacie-guard .header img {
            width: 30px;
        }
    }

    .pharmacie-guard .header h5 {
        margin-left: 30px;
        font-size: 1.1em;
        text-decoration: underline;
    }

    @media screen and (max-width: 767px) {
        .pharmacie-guard .header h5 {
            font-size: 1em;
        }
    }

    .pharmacie-guard .body {
        padding: 18px 0 0 0;
    }

    .pharmacie-guard .body .inner-body {
        margin-bottom: 15px;
    }

    

    @media screen and (max-width: 767px) {
        .pharmacie-guard .body .inner-body ul li { 
            font-size: .8em;
        }
    }

    .pharmacie-guard .body .inner-body form {
        padding-left: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
        .pharmacie-guard .body .inner-body form { 
            width: 80%;
        }
    }

    @media screen and (max-width: 767px) {
        .pharmacie-guard .body .inner-body form {
            display: block;
        }
    }

    .pharmacie-guard .body .inner-body form select {
        transition: all .3s ease-in-out;
    }

    .pharmacie-guard .body .inner-body form select:hover {
        transform: scale(1.1);
    }

    /*.select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #e0e0e0 !important;
        border-radius: 4px !important;
    }*/
    .select2-dropdown {
        border: 1px solid #dedede !important;
    }

	.select2-search__field {
	    outline-color: #ffeb00 !important;
	}

    .select2-results__option--highlighted {
	    background-color: #ffeb00 !important;
	    color: black !important;
	    font-weight: 700 !important;
	}

    .select2-selection ,
	.select2-selection--single {
	    height: 43px !important;
	}

	.select2-selection__rendered {
	    line-height: 28px !important;
	}

	.select2-selection__arrow {
	    height: 43px !important;
	    position: absolute !important;
	    top: 1px !important;
	    right: 1px !important;
	}

    .pharmacie-guard .body .inner-body form .select2-container--default { 
        transition: all .5s ease-in-out;
        width: 40% !important;
    }

    .pharmacie-guard .body .inner-body form .select2-container--default:hover { 
        transform: scale(1.1);
    }

    @media screen and (max-width: 1199px) {
        .pharmacie-guard .body .inner-body form .select2-container--default { 
            width: 100% !important;
        }
    }

    .pharmacie-guard .body .inner-body form .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 2px solid var(--alt-color) !important;
        border-radius: 0 !important;
        height: 35px !important;
    }

    /*@media screen and (max-width: 767px) {
        .pharmacie-guard .body .inner-body form .select2-container--default .select2-selection--single { 
            font-size: .8em;
        }
    }*/

    .pharmacie-guard .body .inner-body form button {
        background-color: var(--main-color);
        color: black;
        padding: 6px 30px;
        font-weight: bold;
        text-decoration: underline;
        border: none;
        transition: .3s ease-in-out;
    }

    .pharmacie-guard .body .inner-body form button:hover { 
        transform: scale(1.1);
    }

    @media screen and (max-width: 1199px) {
        .pharmacie-guard .body .inner-body form button { 
            margin-top: 5px;
            width: 100%;
            font-size: .8em;
        } 
    }

    .pharmacie-guard .body .inner-body form button i { 
        margin-right: 5px;
    }

    

    .pharmacie-guard .body .inner-body .btns {
        padding-left: 1rem;
    }

    .pharmacie-guard .body .inner-body .btns a {
        background-color: var(--main-color);
        color: black;
        padding: 6px 30px;
        font-weight: bold;
        border: 2px solid #222;
        transition: all .3s ease-in-out;
    }

    .pharmacie-guard .body .inner-body .btns a:hover {
        transform: scale(1.1);
    }

    @media screen and (max-width: 1199px) {
        .pharmacie-guard .body .inner-body .btns a {
            font-size: .8em;
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .pharmacie-guard .body .inner-body .btns a i {
        color: #009300;
        margin-right: 5px;
    }

    /* End pharmacie de garde */

    /* Start annuaire telecontact */
    .annuaire-telecontact {
        margin-top: 40px;
        display:flex;
        justify-content: space-evenly;
        width: 80%;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        padding: 15px 30px;
        /*transition: all .3s ease-in-out;*/
    }

    /*.annuaire-telecontact:hover { 
        transform: scale(1.1);
    }*/

    @media screen and (max-width: 992px) {
        .annuaire-telecontact { 
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    @media screen and (max-width: 1299px) {
        .annuaire-telecontact {
            width: 100%;
        }
    }

    

    @media screen and (max-width: 767px) { 
        .annuaire-telecontact .image-wrapper {
            margin-bottom: 15px;
        }
    }

    .annuaire-telecontact .image-wrapper img { 
        width: 140px;
        height: 227px;
    }

    .annuaire-telecontact .content {
        padding-left: 30px;
    }

    .annuaire-telecontact .content h5 {
        font-size: 1.1em;
        text-decoration: underline;
    }

    @media screen and (max-width: 767px) {
        .annuaire-telecontact .content h5 {
            font-size: 1em;
        }
    }

    .annuaire-telecontact .content p {
        margin-top: 20px;
        line-height: 2;
        text-align: justify;
    }

    @media screen and (max-width: 767px) {
        .annuaire-telecontact .content p { 
            font-size: .8em;
        }
    }

    .annuaire-telecontact .content .btns {
        text-align: center;
    }

    .annuaire-telecontact .content .btns a {
        padding: 5px 20px;
        background-color: var(--main-color);
        display: inline-block;
        width: 50%;
        text-align: center;
        color: var(--alt-color);
        font-weight: bold;
    }

    @media screen and (max-width: 767px) {
        .annuaire-telecontact .content .btns a { 
            width: 100%;
        }
    }
    /* End annuaire telecontact */

    /* Start inscrit et connectez */
    .connectez-inscrire {
        margin-top: 40px;
    }

    .connectez-inscrire .row > div {
        padding: 0;
    }

    .connectez-inscrire .bg-img {
        background-image: url("/trouver/media/images/decouvrir-mac-book-pro.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100%;
    }

    .connectez-inscrire .content {
        padding: 30px 40px;
        background-color: #eee;
    }

    .connectez-inscrire .content h3 {
        font-size: 1.3em;
        padding-bottom: 15px; 
        position: relative;
        font-weight: bold;
        line-height: 2;
    }

    @media screen and (max-width: 991px) {
        .connectez-inscrire .content h3 {
            font-size: 1em;
        }
    } 

    .connectez-inscrire .content h3::before {
        content: "";
        position: absolute;
        top: 100%;
        background-color: var(--alt-color);
        width: 100px;
        height: 3px;
    }

    .connectez-inscrire .content ul {
        margin-top: 30px;
        list-style: none;
    }

    .connectez-inscrire .content ul li {
        padding-bottom: 20px;
        position: relative;
    }

    @media screen and (max-width: 991px) {
        .connectez-inscrire .content ul li {
            font-size: .8em;
        }
    } 

    .connectez-inscrire .content ul li::before { 
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f058";
        position: absolute;
        right: calc(100% + 14px);
    }
    
    .connectez-inscrire .content .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .connectez-inscrire .content .btns a {
        padding: 10px 15px;
        text-decoration: none; 
        box-shadow: 0 0 5px #ccc;
    }

    @media screen and (max-width: 992px) {
        .connectez-inscrire .content .btns a { 
            font-size: .8em;
        }
    } 

    .connectez-inscrire .content .btns a:first-child {
        background-color: var(--main-color);
        color: var(--alt-color);
    }

    @media screen and (max-width: 767px) {
        .connectez-inscrire .content .btns a:first-child { 
            margin-bottom: 10px;
            width: 100%;
            text-align: center;
        }
    } 

    .connectez-inscrire .content .btns a:last-child {
        background-color: white;
        color: var(--alt-color);
        border: 1px solid var(--main-color);
    }

    @media screen and (max-width: 767px) {
        .connectez-inscrire .content .btns a:last-child { 
            width: 100%;
            text-align: center;
        }
    } 
    /* End inscrit et connectez */

    /* Start habillage telecontact */
    
    @media screen and (min-width: 375px) {
        .headline-main-header-habillage {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #241F00;
            margin: auto auto 2em auto;
            width: 370px;
            border-radius: 0.9em;
            box-shadow: 0 0 7px #eee;
            padding: 0.4em 0.2em;
        }
    }

    @media screen and (min-width: 768px) {
        .headline-main-header-habillage {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background-color: #241F00;
            margin: auto auto 1 em auto;
            width: 610px;
            border-radius: 0.9em;
            box-shadow: 0 0 7px #eee;
            padding: 0.5em;
        }
    }

    @media screen and (min-width: 375px) {
        .headline-main-header-habillage img {
            width: 4em;
        }
    }

    @media screen and (min-width: 768px) {
        .headline-main-header-habillage img {
            width: 6em;
        }
    }
    

    @media screen and (min-width: 375px) {

        .headline-main-header-habillage span {
            font-size: 1.3em;
            text-align: center;
            font-weight: 900;
            font-style: italic;
            margin-bottom: 0;
            color: whitesmoke;
            font-family: 'Kaushan Script', cursive;
        }
    }

    @media screen and (min-width: 768px) {
        .headline-main-header-habillage span {
            font-size: 1.8em;
            text-align: center;
            font-weight: 900;
            font-style: italic;
            margin-bottom: 0;
            color: whitesmoke;
            font-family: 'Kaushan Script', cursive;
        }
    }
    
    /* End habillage telecontact */

/* End main */
/* Start global styles */

:root {
    --main-color: #fd0;
    --alt-color: #222;
    --alt-lite-color: #FFEFAD;
}

.primary-color-link {
    color: var(--main-color) !important;
    text-decoration: underline !important;
}

/* End global styles */

/* Start header */

header {
    background-color: var(--alt-color);
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
}

header nav.navbar {
    display: flex;
    padding: 0;
}

@media screen and (min-width: 992px) {
    .sandwitch-icon {
        display: none;
    }
}

/* TODO: add sandwitch icon bellow */
@media screen and (max-width: 992px) {
    .sandwitch-icon {
        cursor: pointer;
    }

    .sandwitch-icon .icon-bar {
        width: 35px;
        height: 5px;
        background-color: var(--main-color);
        margin: 6px 0;
        transition: 0.4s;
        display: block;
    }

    .sandwitch-icon .icon-bar.show:first-of-type {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .sandwitch-icon .icon-bar.show:nth-of-type(2) {
        opacity: 0;
    }

    .sandwitch-icon .icon-bar.show:last-of-type {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}


@media screen and (max-width: 992px) {
    header nav.navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px 0;
    }
    
} 

@media screen and (max-width: 992px) {
    header nav.navbar div.logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}




header nav.navbar ul.links {
    display: flex;
    max-width: 100%;
    align-items: center;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    header nav.navbar ul.links { 
        display: flex !important;
        flex: 1;
    }
} 

@media screen and (min-width: 992px) { 
    header nav.navbar ul.links { 
        display: flex !important;
    }
}

@media screen and (max-width: 992px) {
    header nav.navbar ul.links { 
        flex-direction: column;
        margin: auto;
        display:none;
    }
}

header nav.navbar ul.links li {
    height: 58px;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out;
}
header nav.navbar ul.links li > a {
    padding: 0 20px;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    height: 100%;
    font-size: 0.9em;
    position: relative;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

header nav.navbar ul.links li:hover > a {
    text-decoration: underline;
}

header nav.navbar ul.links li > a > img { 
    width: 20px;
    height: 19px;
    margin-right: 8px;
}

header nav.navbar ul.links li.active > a { 
    color: var(--alt-color);
}

header nav.navbar ul.links li:first-child > a > span {
    background-color: #FFDD00;
    display: inline-block;
    padding: .2em .8em;
    color: #222;
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    border-radius: 30px;
    position: relative;
    box-shadow: 0 0 9px white;
}

/*header nav.navbar ul.links li:first-child > a > span::before {
    content: "Publier ou consulter une demande de devis";
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
}*/

header nav.navbar ul.links li:first-child > a > span > img { 
    width: 25px;
} 

header nav.navbar ul.links > li:not(.active) > a.bar::before {
    content: "";
    position: absolute;
    left: calc(100% - 1px);
    width: 1px;
    height: 20px;
    background-color: white;
}

@media screen and (max-width: 992px) {
    header nav.navbar ul.links > li {
        width: 100%;
        text-align: center;
    }

    header nav.navbar ul.links > li:not(.active) > a.bar::before { 
        content: "";
        background-color: transparent;
    }
}


header nav.navbar ul.links li ul {
    padding: 0;
    display: block;
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

header nav.navbar ul.links li ul li {
    height: 50%;
}

    /* Start styling logo client when user is authenticated */
    div.logo-client {
        width: 45px;
        height: 45px;
        background-size: cover;
        border-radius: 50%;
        box-shadow: 0 0 5px rgb(0 0 0 / 50%);
        border: 2px solid white;
        background-color: white;
        margin: auto;
    }    
    /* End styling logo client when user is authenticated */
/* End header */
    .bigNav{
        background-color: #D7FCFE;
        
    }


